<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="TestSuite"  thread-count="2">
	

	<test name="TestOnChrome">
		<parameter name="browserName" value="chrome" />
		<classes>
			<class name="com.testvagrant.runner.TestRunner" />
		</classes>
	</test>

	

</suite> 
